html, body
{
  min-height: 100%;
  height: 100%;
  text-align: center;;
}

*
{
  margin: 0;
  padding: 0;
}

#board
{
  border: 1px solid black;
  display: table;
  margin: auto;
}

.row
{
  display: table-row;
}

@keyframes visit
{
  0%
  {
    background-color: gray;
  }
  100%
  {
    background-color: blue;
  }
}

@keyframes path
{
  0%
  {
    background-color: gray;
  }
  100%
  {
    background-color: yellow;
  }
}

.cell
{
  background-color: gray;
  border: 1px solid black;
  width: 2vw;
  height: 2vw;
  display: table-cell;
}

.unvisited
{
  background-color: gray;
}

.visited
{
  animation-name: visit;
  animation-duration: 1s;
  background-color: blue;
}

.weight
{
  background-color: purple;
}

.path
{
  animation-name: path;
  animation-duration: 1s;
  background-color: yellow;
}

.wall
{
  background-color: black;
}

.start
{
  background-color: green;
  animation-name: none;
}

.target
{
  background-color: red;
  animation-name: none;
}
